body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 10;
  }
  
  .navbar-logo {
    max-width: 150px; /* Adjust the size of the logo */
    height: auto;
  }
  
  .canvas-container {
    height: 400px;
    width: 100%;
    background-color: #ffffff;
  }
  
  .content {
    text-align: center;
    margin-top: 20px;
  }
  
  h1 {
    color: #444;
  }
  